USE [fluxocaixa]
GO
/****** Object:  Table [dbo].[T_DMSAO_TEMPO]    Script Date: 06/01/2018 16:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_DMSAO_TEMPO](
	[ID_DMSAO_TEMPO] [int] NOT NULL,
	[DT_DMSAO_TEMPO] [date] NOT NULL,
	[NU_DIA_MVMT_FLUXO_CAIXA] [int] NOT NULL,
	[NU_MES_MVMT_FLUXO_CAIXA] [int] NOT NULL,
	[NU_ANO_MVMT_FLUXO_CAIXA] [int] NOT NULL,
	[DS_MES_FLUXO_CAIXA] [varchar](50) NULL,
	[DS_BMST_MVMT_FLUXO_CAIXA] [varchar](50) NOT NULL,
	[DS_TRMT_MVMT_FLUXO_CAIXA] [varchar](50) NOT NULL,
	[DS_SMST_MVMT_FLUXO_CAIXA] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DMSAO_TEMPO] PRIMARY KEY CLUSTERED 
(
	[ID_DMSAO_TEMPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
