USE [fluxocaixa]
GO
/****** Object:  UserDefinedDataType [dbo].[TP_LISTA_PALAVRA_EXCD]    Script Date: 10/01/2018 15:57:00 ******/
CREATE TYPE [dbo].[TP_LISTA_PALAVRA_EXCD] FROM [varchar](400) NOT NULL
GO
