USE [fluxocaixa]
GO

/****** Object:  Table [dbo].[T_CLSSF_PLANO_CONTA]    Script Date: 04/03/2018 15:23:50 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[T_CLSSF_PLANO_CONTA](
	[ID_CLSSF_PLANO_CONTA] [int] NOT NULL,
	[CD_CLSSF_PLANO_CONTA] [varchar](10) NOT NULL,
	[NU_CNPJ] [varchar](18) NOT NULL,
	[IC_TIPO_TRANS_FLUXO_CAIXA] [varchar](1) NOT NULL,
	[DS_CLSSF_PLANO_CONTA] [varchar](100) NOT NULL,
	[CD_PLANO_CONTA] [varchar](10) NOT NULL,
	[DS_PLANO_CONTA] [varchar](100) NOT NULL,
	[CD_CLUN_CDGO_CLSSF_PLANO_CONTA] [varchar](3) NULL,
	[CD_CLUN_DSCR_PLANO_CONTA] [varchar](3) NULL,
 CONSTRAINT [PK_CLSSF_PLANO_CONTA] PRIMARY KEY CLUSTERED 
(
	[ID_CLSSF_PLANO_CONTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
