USE [fluxocaixa]
GO
/****** Object:  UserDefinedTableType [dbo].[TP_LISTA_PLVR_EXCD]    Script Date: 10/01/2018 15:57:00 ******/
CREATE TYPE [dbo].[TP_LISTA_PLVR_EXCD] AS TABLE(
	[DS_PLVR_EXCD] [varchar](1000) NULL
)
GO
