USE [fluxocaixa]
GO

DROP VIEW VW_TRIM_SAIDA_CAIXA;
GO

/****** Object:  View [dbo].[VW_TRIM_SAIDA_CAIXA]    Script Date: 08/01/2018 22:45:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_TRIM_SAIDA_CAIXA] AS
SELECT FLUXO.DS_CLSSF_PLANO_CONTA
     , FLUXO.DS_PLANO_CONTA
     , DMSAO.DS_TRMT_MVMT_FLUXO_CAIXA
     , DMSAO.DS_MES_FLUXO_CAIXA
     , DMSAO.NU_ANO_MVMT_FLUXO_CAIXA
     , FLUXO.DT_MVMT_FLUXO_CAIXA
     , FLUXO.VL_SAIDA_FLUXO_CAIXA
	 , NU_CNPJ
FROM T_FLUXO_CAIXA FLUXO
   , T_DMSAO_TEMPO DMSAO
WHERE FLUXO.SK_DMSAO_TEMPO = DMSAO.ID_DMSAO_TEMPO
  AND FLUXO.DS_CLSSF_PLANO_CONTA IN ('DESPESAS OPERACIONAIS', 'DESPESAS COM RH');
GO
