USE [fluxocaixa]
GO
/****** Object:  Table [dbo].[T_LISTA_PLVR_EXCD]    Script Date: 10/01/2018 15:57:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_LISTA_PLVR_EXCD](
	[ID_LISTA_PLVR_EXCD] [int] NOT NULL,
	[NU_ANO_PLAN_ORIG_PROC] [int] NOT NULL,
	[NU_CNPJ] [varchar](18) NOT NULL,
	[DS_PLVR_EXCD] [varchar](1000) NOT NULL,
	[IC_TIPO_TRANS_FLUXO_CAIXA] [varchar](1) NOT NULL,
 CONSTRAINT [PK_LISTA_PLVR_EXCD] PRIMARY KEY CLUSTERED 
(
	[ID_LISTA_PLVR_EXCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
