USE fluxocaixa;

CREATE INDEX IX_CLSSF_PLANO_CONTA_1 
    ON T_CLSSF_PLANO_CONTA (CD_CLSSF_PLANO_CONTA);

CREATE INDEX IX_CLSSF_PLANO_CONTA_2
    ON T_CLSSF_PLANO_CONTA (NU_CNPJ);

CREATE INDEX IX_CLSSF_PLANO_CONTA_3 
    ON T_CLSSF_PLANO_CONTA (CD_PLANO_CONTA);

CREATE INDEX IX_CNRIO_IMPRT_ARQV_1 
    ON T_CNRIO_IMPRT_ARQV (NU_CNPJ);

CREATE INDEX IX_CNRIO_IMPRT_ARQV_2
    ON T_CNRIO_IMPRT_ARQV (NU_ANO_PLAN_ORIG_PROC);

CREATE INDEX IX_CNRIO_IMPRT_ARQV_3
    ON T_CNRIO_IMPRT_ARQV (IC_TIPO_TRANS_FLUXO_CAIXA);

CREATE INDEX IX_CNRO_EXPRT_ARQV_1
    ON T_CNRO_EXPRT_ARQV (NU_CNPJ);

CREATE INDEX IX_CNRO_EXPRT_ARQV_2
    ON T_CNRO_EXPRT_ARQV (NU_ANO_PLAN_ORIG_PROC);

CREATE INDEX IX_LISTA_PLVR_EXCD_1
    ON T_LISTA_PLVR_EXCD (NU_CNPJ);

CREATE INDEX IX_LISTA_PLVR_EXCD_2
    ON T_LISTA_PLVR_EXCD (NU_ANO_PLAN_ORIG_PROC);

CREATE INDEX IX_FLUXO_CAIXA_1
    ON T_FLUXO_CAIXA (NU_CNPJ);

CREATE INDEX IX_FLUXO_CAIXA_2
    ON T_FLUXO_CAIXA (NU_ANO_PLAN_ORIG_PROC);

CREATE INDEX IX_FLUXO_CAIXA_3
    ON T_FLUXO_CAIXA (DT_MVMT_FLUXO_CAIXA);

CREATE INDEX IX_FLUXO_CAIXA_4
    ON T_FLUXO_CAIXA (CD_PLANO_CONTA);

CREATE INDEX IX_FLUXO_CAIXA_5
    ON T_FLUXO_CAIXA (CD_CLSSF_PLANO_CONTA);

CREATE INDEX IX_FLUXO_CAIXA_6
    ON T_FLUXO_CAIXA (DS_PLAN_ORIG_PROC);