USE [fluxocaixa]
GO
/****** Object:  Table [dbo].[T_DMSAO_TEMPO]    Script Date: 06/01/2018 12:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_DMSAO_TEMPO](
	[ID_DMSAO_TEMPO] [int] NOT NULL,
	[DT_DMSAO_TEMPO] [date] NOT NULL,
	[NU_DIA_MVMT_FLUXO_CAIXA] [int] NOT NULL,
	[NU_MES_MVMT_FLUXO_CAIXA] [int] NOT NULL,
	[NU_ANO_MVMT_FLUXO_CAIXA] [int] NOT NULL,
	[DS_MES_FLUXO_CAIXA] [varchar](50) NULL,
	[DS_BMST_MVMT_FLUXO_CAIXA] [varchar](50) NOT NULL,
	[DS_TRMT_MVMT_FLUXO_CAIXA] [varchar](50) NOT NULL,
	[DS_SMST_MVMT_FLUXO_CAIXA] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DMSAO_TEMPO] PRIMARY KEY CLUSTERED 
(
	[ID_DMSAO_TEMPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_FLUXO_CAIXA]    Script Date: 06/01/2018 12:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_FLUXO_CAIXA](
	[ID_FLUXO_CAIXA] [int] NOT NULL,
	[ID_CLSSF_PLANO_CONTA] [int] NULL,
	[NU_CNPJ] [varchar](18) NOT NULL,
	[SK_DMSAO_TEMPO] [int] NOT NULL,
	[DT_MVMT_FLUXO_CAIXA] [date] NOT NULL,
	[DS_CLSSF_PLANO_CONTA] [varchar](100) NOT NULL,
	[CD_DCTO_RFRC_FLUXO_CAIXA] [varchar](20) NOT NULL,
	[CD_PLANO_CONTA] [varchar](10) NOT NULL,
	[DS_PLANO_CONTA] [varchar](100) NOT NULL,
	[DS_INSTT_FNCR] [varchar](50) NOT NULL,
	[VL_ENTR_FLUXO_CAIXA] [decimal](11, 2) NULL,
	[VL_SAIDA_FLUXO_CAIXA] [decimal](11, 2) NULL,
	[IC_STATUS_VALOR] [varchar](20) NOT NULL,
	[NU_MATL_INCS] [varchar](20) NULL,
	[DT_INCS] [datetime] NULL,
	[IC_TIPO_TRANS_FLUXO_CAIXA] [varchar](1) NULL,
	[DS_PLAN_ORIG_PROC] [varchar](50) NULL,
	[CD_CLSSF_PLANO_CONTA] [varchar](10) NULL,
	[NM_CLIE_FLUXO_CAIXA] [varchar](200) NULL,
 CONSTRAINT [PK_FLUXO_CAIXA] PRIMARY KEY CLUSTERED 
(
	[ID_FLUXO_CAIXA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VW_TRIM_SAIDA_CAIXA]    Script Date: 06/01/2018 12:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_TRIM_SAIDA_CAIXA] AS
SELECT FLUXO.DS_CLSSF_PLANO_CONTA
     , FLUXO.DS_PLANO_CONTA
     , DMSAO.DS_TRMT_MVMT_FLUXO_CAIXA
     , DMSAO.DS_MES_FLUXO_CAIXA
     , DMSAO.NU_ANO_MVMT_FLUXO_CAIXA
     , FLUXO.DT_MVMT_FLUXO_CAIXA
     , FLUXO.VL_SAIDA_FLUXO_CAIXA
FROM T_FLUXO_CAIXA FLUXO
   , T_DMSAO_TEMPO DMSAO
WHERE FLUXO.SK_DMSAO_TEMPO = DMSAO.ID_DMSAO_TEMPO
  AND FLUXO.DS_CLSSF_PLANO_CONTA IN ('DESPESAS OPERACIONAIS', 'DESPESAS COM RH');
GO
/****** Object:  Table [dbo].[T_CLSSF_PLANO_CONTA]    Script Date: 06/01/2018 12:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CLSSF_PLANO_CONTA](
	[ID_CLSSF_PLANO_CONTA] [int] NOT NULL,
	[CD_CLSSF_PLANO_CONTA] [varchar](10) NOT NULL,
	[NU_CNPJ] [varchar](18) NOT NULL,
	[IC_TIPO_TRANS_FLUXO_CAIXA] [varchar](1) NULL,
	[DS_CLSSF_PLANO_CONTA] [varchar](100) NOT NULL,
	[CD_PLANO_CONTA] [varchar](10) NULL,
	[DS_PLANO_CONTA] [varchar](100) NOT NULL,
 CONSTRAINT [PK_CLSSF_PLANO_CONTA] PRIMARY KEY CLUSTERED 
(
	[ID_CLSSF_PLANO_CONTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_FLUXO_CAIXA]  WITH CHECK ADD  CONSTRAINT [FK_FLUXO_CAIXA_DMSAO_TEMPO] FOREIGN KEY([SK_DMSAO_TEMPO])
REFERENCES [dbo].[T_DMSAO_TEMPO] ([ID_DMSAO_TEMPO])
GO
ALTER TABLE [dbo].[T_FLUXO_CAIXA] CHECK CONSTRAINT [FK_FLUXO_CAIXA_DMSAO_TEMPO]
GO
ALTER TABLE [dbo].[T_FLUXO_CAIXA]  WITH CHECK ADD  CONSTRAINT [FK_FLUXO_CAIXA_PLANO_CONTA] FOREIGN KEY([ID_CLSSF_PLANO_CONTA])
REFERENCES [dbo].[T_CLSSF_PLANO_CONTA] ([ID_CLSSF_PLANO_CONTA])
GO
ALTER TABLE [dbo].[T_FLUXO_CAIXA] CHECK CONSTRAINT [FK_FLUXO_CAIXA_PLANO_CONTA]
GO
